﻿/*主体*/
body{ background:#cccccc;}

/*头部导航start*/
.nav{background:#fff;height: 69px; border-bottom:1px solid #c3c4c4;}
.nav ul{margin-top: 6px;}
.navnews{position: relative;}
.navnews .fl{width:105px;padding: 7px 0 0; margin-left: 50px;}
.logo{ padding:11px 0px 0px 0px; margin-left:11px;}
.logo a{ display:block;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button {margin: 0;padding: 0;border: 0;list-style: none;line-height: 1;display: block;position: relative;}
#cssmenu{ margin-top:6px;}
#cssmenu #menu-button {display: none;}
#cssmenu {width: auto;font-family: 'Open Sans', sans-serif;line-height: 1;}
#menu-line {position: absolute;bottom: 0;left: 0;height: 4px;background: #0066cc;
-webkit-transition: all 0.25s ease-out;
 -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
   -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;}
#cssmenu > ul > li { width:90px;float: left;}
#cssmenu > ul > li.active{ color:#fff;}
#cssmenu.align-center > ul {font-size: 0;text-align: center;}
#cssmenu.align-center > ul > li {display: inline-block;float: none;}
#cssmenu.align-center ul ul {text-align: left;}
#cssmenu.align-right > ul > li {float: right;}
#cssmenu.align-right ul ul {text-align: right;}
#cssmenu > ul > li > a { line-height:64px; text-align:center;font-size: 14px;text-decoration: none;text-transform: uppercase;color: #999999; font-family:'Microsoft YaHei';}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {color: #0066cc;}
#cssmenu ul ul { z-index:999;position: absolute;left: -9999px;}
#cssmenu li:hover > ul {left: auto;}
#cssmenu.align-right li:hover > ul {right: 0;}
#cssmenu ul ul ul {margin-left: 100%;top: 0;}
#cssmenu.align-right ul ul ul {margin-left: 0;margin-right: 100%;}
#cssmenu ul ul li {height: 0;}
#cssmenu ul li:hover > ul > li {height: 32px;}
#cssmenu ul ul li a {width: 90px; text-align:center; line-height:35px;font-size: 12px;background: #333333;text-decoration: none;color: #dddddd;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #ffffff;}

/*头部导航end*/
/*整屏幻灯start*/
.tablistbox{width:100%;height:630px;overflow:hidden;position:relative;}
.tablist{width:100%;height:630px;}
.tablist li{width:100%;height:630px;opacity:0.1;transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;position:absolute;z-index:1;}
.tablist .opc{opacity:1;z-index:2;}
.wd1200{width:1200px;height:630px;margin:auto;position:relative;}
.tablist li a{width:100%; height:630px;display:block;position:absolute; left:0px;}
.tablist .tabpic_focus1{ background:url(/static/image/index/focus_img1.jpg) no-repeat center top;}
.tablist .tabpic_focus2{background:url(/static/image/index/focus_img2.jpg) no-repeat center top;}
.tablist .tabpic_focus3{background:url(/static/image/index/focus_img3.jpg) no-repeat center top;}
.tablist .tabpic_focus4{background:url(/static/image/index/focus_img4.jpg) no-repeat center top;}

.tablist_leftbtn,.tablist_rightbtn{display:block;position:absolute;z-index:2;}
.tablist_leftbtn{  width:15%; height:100%;left:0;top:0; background:url(/static/image/index/tablist_lr_left.png) no-repeat center center;}
.tablist_rightbtn{ width:15%; height:100%;right:0;top:0; background:url(/static/image/index/tablist_lr_rig.png) no-repeat center center;}
.tablist_smdian{text-align:right;position:absolute;right:20%;bottom:30%;z-index:2;}
.tablist_smdian li{width:12px;height:12px;background:#8d8a8b;opacity:0.8;margin-right:9px;border-radius:8px;float:left;cursor:pointer;transition:width .5s ease;-moz-transition:width .5s ease;-ms-transition:width .5s ease;-o-transition:width .5s ease;-webkit-}
.tablist_smdian .tablist_active{width:40px;background:#fff;}
/*整屏幻灯end*/
/*首页主要内容区域start*/
.main{ background:#f2f2f2; padding-bottom:45px; overflow:hidden;}
.sub_main{ padding-top:20px;}
.mod1{padding: 10px 9px 8px 9px;}
.border1{ border:1px solid #dfdfdf; background:#f9f9f9;}
.news_l{width:320px;height:310px;overflow: hidden; padding:20px 20px 0px 20px;}
.news_l dl dd p{ text-indent:2em;}
.news_l dl dd a{ font-size:12px;font-family:'Microsoft YaHei'; color:#666666; line-height:24px;}
.news_l dl dd a:hover{color:#ffb800;}
.news_l dl dd h6{ padding-top:6px;}
.news_l dl dd h6 a{ font-size:18px; font-family:'Microsoft YaHei'; font-weight:normal; color:#333333; line-height:40px;}
.news_l dl dd h6 a:hover{ color:#ffb800;}
.news_m{width: 400px;margin: 0px 0 0 8px; height:330px; position:relative;}
.news_m dl{ background:url(/static/image/index/t_line.jpg) no-repeat center bottom; padding:6px 10px 10px 18px;}
.news_m dl dd p{ text-indent:2em;}
.news_m dl dd a{ font-size:14px;font-family:'Microsoft YaHei'; color:#666666; line-height:24px;}
.news_m dl dd a:hover{color:#ffb800;}
.news_m dl dt h6{ padding-top:6px;}
.news_m dl dt h6 a{ font-size:18px; font-family:'Microsoft YaHei'; font-weight:normal; color:#333333; line-height:40px;}
.news_m dl dt h6 a:hover{ color:#ffb800;}
.news_m ul{ padding:0px 10px 0px 18px;}
.news_m ul li{ line-height:39px; font-size:14px; background:url(/static/image/index/t_line.jpg) no-repeat center bottom;}
.news_m ul li a{ color:#666666;}
.news_m ul li a:hover{ color:#ffb800;}
.news_m ul li span{ float:right;}
.news_m_more{ display:block; width:70px; height:24px; line-height:24px; text-align:center; background:#0066cc; border-radius:5px; color:#f8f9fc; font-family:'Microsoft YaHei'; position:absolute; bottom:8px; right:10px;}
.news_m_more:hover{color:#f8f9fc;}

.news_act{width:200px;height:330px;overflow: hidden; margin-left:8px;}
.news_act h5{ width:190px; height:40px; line-height:40px; font-size:16px; color:#FFF; background:#0066cc; padding-left:10px; font-weight:normal;}
.news_act ul li{ width:180px; height:130px; margin:10px 0px 0px 10px;}
.news_act ul li a{ display:block;}
/*公司游戏区域效果start*/
/*动画加载*/
.screen_main{ width:936px; height:761px; background:url(/static/image/main/screenBg.jpg) no-repeat; margin:0 auto; padding:81px 0px 0px 0px;}
.screen_main a.screen_logo{ display:block; width:209px; height:85px; margin: 0px auto 50px;}
.screen_main ul li{ width:300px; height:200px; float: left; margin:0px 6px 12px 6px;}
.newsarticleBot{}
.newsarticleBot p{ font-size: 14px; font-family: 'Microsoft YaHei'; color: #676767; line-height: 35px;}
.newsarticleBot p a:hover{ color: #676767; text-decoration:underline;}

/*翻转*/
.list_box{width:981px; height:400px; position:absolute; left:10px;}
.list_con{position:absolute; top:0px; height:400px;}
.news_box{right:0px; bottom:0px; position:absolute; width:320px; height:200px; background:#0a0;}
.row{ position:absolute; top:0px; height:400px; left:50%;}
.game{display:none; width:320px;   height:200px; position:absolute; top:0px;
	-webkit-transition:0.6s;
	-webkit-transform:perspective(1000px);
	-webkit-transform-style:preserve-3d;	
	-moz-transition:0.6s;
	-moz-transform:perspective(1000px);
	-moz-transform-style:preserve-3d;
	-ms-transform:perspective(1000px);
	-ms-transition:0.6s;
	-ms-transform-style:preserve-3d;
	transition:0.6s;
	transform-style:preserve-3d;
}
.source{display:none;}
.game a{display:block; width:320px; height:200px; position:relative; -moz-transform-style:preserve-3d;}
.game a:hover{z-index: 20;}
.game a:hover .back{z-index: 10;}
.game img{vertical-align: top;}
.orderby{display:none;}
.game .front{cursor:pointer; backface-visibility: hidden;width:320px; height:200px; background:#fff;position:absolute; top:0px; left:0px; z-index: 1;}
.game .back p{position:absolute; top:30px;width:320px; line-height: 20px; left:0px; text-align: center; color:#fff; font-size:16px;font-family:'Microsoft YaHei UI','微软雅黑'; font-weight: bold; text-indent:-999999px; }
.game .front b{position:absolute;width:268px; font-weight: normal; left:52px; bottom:2px; height:20px; line-height: 20px; font-size: 12px; font-family: '宋体'; color:#353535; text-indent:-999999px;}
.game .back{cursor:pointer; backface-visibility: hidden;width:320px; height:200px; background:#000;position:absolute; top:0px; left:0px;}
.game a:hover:not(.switch) .back{
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
	-o-transform:rotateY(0deg);
	-ms-transform:rotateY(0deg);
	transform:rotateY(0deg)
 display:block; }
.game a:hover:not(.switch) .front {
	    transform:rotateY(180deg);
	 -o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
-webkit-transform:rotateY(180deg);
}
.front,.back {
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition:0.6s;
	-webkit-transform-style:preserve-3d;
	-moz-transition:0.6s;
	-moz-transform-style:preserve-3d;
	-o-transition:0.6s;
	-o-transform-style:preserve-3d;
	-ms-transition:0.6s;
	-ms-transform-style:preserve-3d;
	transition:0.6s;
	transform-style:preserve-3d;
	position:absolute;
	top:0;
	left:0;
	background-color:#fff;
	display:table;
	background-size:cover;
	background-position:center
}
.front {
	    transform:rotateY(0deg);
     -o-transform:rotateY(0deg);
	-ms-transform:rotateY(0deg);
   -moz-transform:rotateY(0deg);
-webkit-transform:rotateY(0deg);
}
.back {
	    transform:rotateY(-180deg);
	 -o-transform:rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
   -moz-transform:rotateY(-180deg);
-webkit-transform:rotateY(-180deg);
}
/*公司游戏区域效果end*/
/*右侧浮框start*/
#lm_wx_0514{position:absolute; width:100px; height:180px; padding:10px 0px 0px 0px; z-index:999; bottom:0; margin:-90px 0px 0px 0px; right:0px; background:#f2f2f2;}
#lm_wx_0514 dt{ text-align:center;}
#lm_wx_0514 dt img{ display:inline;}
#lm_wx_0514 dd{ text-align:center; line-height:22px;}
.btn_sina{ display:block; width:80px; height:30px; margin:0 auto; margin:8px auto 0; background:url(/static/image/index/btn_sina.jpg) no-repeat;}
/*右侧浮框end*/

/*新闻列表*/
.page_bodyBg{ background:url(/static/image/index/bodyBg.jpg) no-repeat;}
.newlist{ background:#f2f2f2;}
.newlistCon{ padding:20px 11px 50px 11px;}
.newlistConNav{width:180px; float:left;}
.newlistConNav a{display:block;width:180px;height:60px; font-size:18px; text-align:center; line-height:60px;}
.newlistConNav a:hover{ text-decoration:none;}
.newlistConNav a.sx_1{ background:#f2f2f2; border-bottom:1px solid #b9baba;}
.newlistConNav a.sx_1:hover{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.newlistConNav a.sx_1_1{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.newlistConNav a.sx_2{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.newlistConNav a.sx_2:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.newlistConNav a.sx_2_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.newslistTab{ width:750px; float:left; margin-left:20px; border-top:1px solid #dad9d9; height:auto !important; height:700px;  min-height:700px; position:relative;}
.newslistTab dl{border-bottom:1px solid #dad9d9; padding:16px 0px 16px;}
.newslistTab dl dt { margin-bottom:8px;}
.newslistTab dl dt a{ font-size:18px;}
.newslistTab dl dd { text-indent:2em;}
.newslistTab dl dd a{ font-size:13px; line-height:24px;}

/*page*/
.page {height: 35px; text-align: center; margin-top:63px; }
.page a { border-radius: 5px;border:1px solid #bfbfbf;width: 50px; display: inline-block; height: 30px; line-height: 30px; margin: 0 3px; }
.page a { transition:none;}
.page a:link, .page a:visited { color: #333; }
.page a.on {width:32px;height:32px;line-height:32px; border:1px solid #ffb900;font-weight: bold;color: #ffb900; }
.page a:hover { border:1px solid #ffb900;color: #ffb900; }
.page a.prev1,.page a.next1{width:80px;height:30px;font-size:14px;}
.page strong{ width:50px; height:30px; line-height:30px; display:inline-block; border-radius:5px; border: 1px solid #e09926; background:#f2b100;}

/*联系我们*/
.page_about{ background:#f2f2f2;}
.aboutCon{ padding:20px 11px 50px 11px;}
.aboutConNav{width:180px; float:left;}
.aboutConNav a{display:block;width:180px;height:60px; font-size:18px; text-align:center; line-height:60px;}
.aboutConNav a:hover{ text-decoration:none;}
.aboutConNav a.sx_1{ background:#f2f2f2; border-bottom:1px solid #b9baba;}
.aboutConNav a.sx_1:hover{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.aboutConNav a.sx_1_1{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.aboutConNav a.sx_2{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.aboutConNav a.sx_2:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.aboutConNav a.sx_2_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.aboutTab{ width:750px; float:left; margin-left:20px; padding-top:10px;}
.aboutTab dd p{ font-size:14px; color:#666666; line-height:24px;}
table{width:710px;text-align:center; margin-bottom:30px;}
table thead{border-bottom:1px solid #cccccc;}
table thead th{ text-align:center; line-height:35px; font-size:18px;}
table td{text-align:center; line-height:35px; font-size:14px;}

/*产品中心*/
.bqcontent{ background:url(/static/image/index/infoBg.jpg) no-repeat center; }
.bq_top{margin: 120px auto 0;height: 110px;overflow:hidden;width: 855px;padding: 10px 0 0; color:#fff;}
.bq_top h1{text-align: center;color: #fff;font-size: 16px;line-height: 35px;}
.bq_top p{line-height: 24px;padding: 0 30px;}
.bq_header{background: url(/static/image/index/info_nav_01_01_05.png) repeat-x center bottom; height: 114px;position: relative;left: 50%;margin-left: -415px;top:110px;width: 850px;padding: 360px 0 0;z-index: 100;}
.info_hd1{background: url(/static/image/index/info_nav_01_01_03.png) no-repeat 0 top;width: 52px;height:114px ; position: absolute; left: -52px;z-index:2; }
.info_hd2{background: url(/static/image/index/info_nav_01_01_07.png) no-repeat 0 top;width: 53px;height:114px ; position: absolute;right:-53px;z-index: 1; }
.info_hd3_fbb{background: url(/static/image/index/info_f_bg_03.png) no-repeat 0 top;width: 888px;height: 331px;position: absolute;top: 240px;left: 68px;z-index: 1; }
.info_hd4_fbb{background: url(/static/image/index/info_02_06.png) no-repeat 0 top;height:121px;width: 268px;position: absolute;top:65px;opacity: 0; z-index: 2;}
.info_hd5_fbb{background: url(/static/image/index/fanxiaojie_03.png) no-repeat 0 top;width: 392px;height: 400px;position: absolute; right: 0px;top: -30px;opacity: 0;z-index: 2;}
.cut_prve img{cursor: pointer; position: absolute; margin-top: 20px;}
.cut_next img{cursor: pointer; margin-top: 20px;}
.cut_content{padding: 20px 0 0;}
.cut_contentimg{width: 650px;overflow: hidden;  margin: 0 60px 0 90px;}
.cut_contentimg li{float: left;margin: 0 11px 0;display: inline; cursor: pointer;}
.cut_contentimg li .fr{display: none;margin-left: 10px;padding: 5px 0 0;  margin-top: 7px; cursor: pointer}
.cut_contentimg li.on .fr{color: #fff;display: block;line-height: 24px;}
.cut_contentimg li strong{display: block;font-size: 24px;}
.cut_contentimg ul{width: 9000px; margin-left: 20px;}
.info_hd3_llw{background: url(/static/image/index/lanlingwang.png) no-repeat 0 top;width: 888px;height: 331px;position: absolute;top: 240px;left: 68px;z-index: 1; opacity: 0;}
.info_hd4_llw{background: url(/static/image/index/lanlingwang_h_01_04.png) no-repeat 0 top;height:195px;width: 254px;position: absolute;top:65px;opacity: 0; z-index: 2;}
.info_hd5_llw{background: url(/static/image/index/lanlingwang_h_01_02.png) no-repeat 0 top;width: 460px;height: 331px;position: absolute; right: 0px;top: 39px;opacity: 0;z-index: 2;}
.info_hd3_ttkp{background: url(/static/image/index/ttkp_bg.png) no-repeat 0 top;width: 888px;height: 331px;position: absolute;top: 240px;left: 68px;z-index: 1; }
.info_hd4_ttkp{background: url(/static/image/index/ttkp_03.png) no-repeat 0 top;height:138px;width: 243px;position: absolute;top:65px;opacity: 0; z-index: 2;}
.info_hd5_ttkp{background: url(/static/image/index/ttkp_06.png) no-repeat 0 top;width: 308px;height: 331px;position: absolute; right: -36px;top: 39px;opacity: 0;z-index: 2;}
.info_hd3_bjjs{background: url(/static/image/index/bjjs_bg.png) no-repeat 0 top;width: 888px;height: 331px;position: absolute;top: 240px;left: 68px;z-index: 1; }
.info_hd4_bjjs{background: url(/static/image/index/bjjs_03.png) no-repeat 0 top;width: 315px;height: 71px;position: absolute;top:65px;opacity: 0; z-index: 2;}
.info_hd5_bjjs{background: url(/static/image/index/bjjs_06.png) no-repeat 0 top;width: 390px;height: 336px;position: absolute; right: 0px;top: 35px;opacity: 0;z-index: 2;}

/*关于掌纵*/
.gyzzCon{ padding:20px 11px 50px 11px;}
.gyzzConNav{width:180px; float:left;}
.gyzzConNav a{display:block;width:180px;height:60px; font-size:18px; text-align:center; line-height:60px;}
.gyzzConNav a:hover{ text-decoration:none;}
.gyzzConNav a.sx_1{ background:#f2f2f2; border-bottom:1px solid #b9baba;}
.gyzzConNav a.sx_1:hover{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_1_1{ background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_2{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.gyzzConNav a.sx_2:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_2_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_3{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.gyzzConNav a.sx_3:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_3_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_4{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.gyzzConNav a.sx_4:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_4_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_5{ background:#f2f2f2;  border-bottom:1px solid #b9baba;}
.gyzzConNav a.sx_5:hover{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzConNav a.sx_5_1{background:#cc0000; color:#FFF; border-bottom:1px solid #cc0000;}
.gyzzTab{ width:778px; float:left; margin-left:20px;}
.gyzzTab img{ display:block;}
.gyzzTab dl{border-bottom:1px solid #dad9d9; padding:16px 0px 16px;}
.gyzzTab dl dt { margin-bottom:8px;}
.gyzzTab dl dt a{ font-size:18px;}
.gyzzTab dl dd { text-indent:2em;}
.gyzzTab dl dd a{ font-size:13px; line-height:24px;}
.ot_contaions{width:750px;margin:auto; padding-top:50px;}
.event_bk{ background:url(/static/image/index/zhou.png) no-repeat center top; }
.eventonebox{height:117px;overflow:hidden;}
.eventonebox div,.eventtwobox div,.eventthreebox div,.eventfourbox div,.eventfivebox div,.eventsixbox div{position:absolute;}
.event_one{width:377px;left:400px;}
.event_one_1{left:400px;}
.eventtwobox{height:120px;overflow:hidden;}
.event_two{left:49px;}
.event_two_2{left:49px;}
.eventthreebox{height:117px;overflow:hidden;}
.event_three{width:269px;left:400px;}
.event_three_3{left:400px;}
.eventfourbox{height:170px;overflow:hidden;}
.event_four{left:83px;}
.event_four_4{left:83px;}
.eventfivebox{height:257px;overflow:hidden;}
.event_five{left:400px;}
.event_five_5{left:400px;}
.eventsixbox{height:182px;overflow:hidden;}
.event_six{left:51px;}
.event_six_6{left:51px;}

.businessBg{ width:690px; margin:0 auto; background:url(/static/image/index/businessBg.jpg) no-repeat center top; margin-top:80px; padding:285px 0px 0px 20px;}
.businessBg p{ font-size:14px; color:#747474; line-height:30px; text-indent:2em; font-family:'Microsoft YaHei';}
.awards img{ margin-top:60px;}



/*统计图*/
.pie{ width:410px; height:400px; background:url(/static/image/index/chart01Bg.jpg) no-repeat; position:relative; float:left;}
.pie h4{ font-size:24px; color:#666666; font-family:'Microsoft YaHei'; line-height:45px; text-align:center; font-weight:normal; margin:28px 0px 0px 0px;}
#canvas-holder{ top:120px; left:102px; position:absolute;
}
.chart_02{ position:relative; float:left; width:365px;}
#content {width:365px;}
#content h4{ font-size:24px; color:#666666; font-family:'Microsoft YaHei'; line-height:45px; text-align:center; font-weight:normal; margin-bottom:20px;}
.legend {/*float:left;width:190px;margin-top:140px;*/ position:absolute;}
#content h1 {font-family:'Cabin Sketch', arial, serif;text-shadow:3px 3px 0 #ddd;color:#193340;font-size:40px;margin-bottom:40px;text-align:right;}
.skills {float:left;clear:both;width:100%;}
.legend ul,.skills li {display:block;list-style:none;margin:0;padding:0;}
.legend li {padding:0 15px; width:200px;height:35px;line-height:35px;color:#fff;margin-bottom:1px;font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.legend .jq { color:#20a5a5; position:absolute; top:15px; left:49px;  *left:-14px; /*IE7*/}
.legend .css { color:#fd7979; position:absolute; top:45px; left:72px; *left:9px; /*IE7*/}
.legend .html { color:#4c4c79; position:absolute; top:76px; left:62px; *left:0px; /*IE7*/}
.legend_txt1{ width:81px; height:91px; background:url(/static/image/index/legend_txt1.png) no-repeat; position:absolute; left:247px; top:102px; z-index:999;}
.legend_txt2{ width:48px; height:105px; background:url(/static/image/index/legend_txt2.png) no-repeat; position:absolute; left:254px; top:143px; z-index:999;}
.legend_txt3{ width:27px; height:56px; background:url(/static/image/index/legend_txt3.png) no-repeat; position:absolute; left:246px; top:193px; z-index:999;}
#diagram {width:300px;height:300px; margin-left:60px;}
.get {display:none;}
.icon_reg{ position:absolute; top:83px; left:197px; z-index:999;}
.icon_pepo{position:absolute; top:117px; left:198px; z-index:999;}
.icon_dl{position:absolute; top:146px; left:199px; z-index:999;}
.chart_03 ul{ padding:3px 0px 0px 123px;}
.chart_03 li{ height:20px; margin:11px 0px 9px 0px; margin-bottom:20px; text-align:right; padding-right:5px; color:#fff;}
.chart_03 li.q1_2015{ background:#993366; width:314px; 
		animation:myTargetElement1 linear 2.3s; 
	 -o-animation:myTargetElement1 linear 2.3s;
	-ms-animation:myTargetElement1 linear 2.3s; 
   -moz-animation:myTargetElement1 linear 2.3s;  
-webkit-animation:myTargetElement1 linear 2.3s; 
}
.chart_03 li.q2014{ background:#339900; width:560px;
		animation:myTargetElement2 linear 2.3s; 
	 -o-animation:myTargetElement2 linear 2.3s;
	-ms-animation:myTargetElement2 linear 2.3s; 
   -moz-animation:myTargetElement2 linear 2.3s;  
-webkit-animation:myTargetElement2 linear 2.3s; 
}
.chart_03 li.q2013{ background:#ff6600; width:120px;
		animation:myTargetElement3 linear 2.3s; 
	 -o-animation:myTargetElement3 linear 2.3s;
	-ms-animation:myTargetElement3 linear 2.3s; 
   -moz-animation:myTargetElement3 linear 2.3s;  
-webkit-animation:myTargetElement3 linear 2.3s; 
}
.chart_03_tit{ font-size:24px; color:#666666; font-family:'Microsoft YaHei'; line-height:45px; text-align:center; font-weight:normal; margin:42px 0px 37px 0px;}
.chart_03{ width:732px; height:167px; background:url(/static/image/index/chart_03Bg.jpg) no-repeat;}

@keyframes myTargetElement1
{
	0%{ width:0px;}
  100%{ width:314px;}
}

@keyframes myTargetElement2
{
	0%{ width:0px;}
  100%{ width:560px;}
}

@keyframes myTargetElement3
{
	0%{ width:0px;}
  100%{ width:120px;}
}

/*新闻正文*/

.img_1-1{background:#f2f2f2;}
.newscont_top{ background:#f2f2f2; height: 85px;}
.newszw{width: 790px;margin: 0 auto;}
.navbar,.navbar a{color: #595959;}
.navbar span{color: #ffb900;}
.articletitle{border-bottom: 1px solid #727272;padding: 0 0 10px;}
.articletitle h1{color: #595959;line-height: 30px;}
.artibody p{text-indent: 24px;font-size: 14px;line-height: 24px;padding: 20px 0 0;}
.pabottom{width: 1000px;left: 0;bottom: 0;}




.company_p{ width:272px; height:237px; padding:55px 20px 0px 20px; background:url(/static/image/index/company_pBg.png) no-repeat;}
.company_p p {font-size: 14px;line-height: 24px;text-indent: 24px;}
.mod_ad{ width:432px; height:292px; margin-left:10px; background:url(/static/image/index/bg_weibo.png) repeat;}

.mod_down{ margin-top:9px;}
.code_wx_box{ height:173px; background:url(/static/image/index/index_bg_wx.jpg) no-repeat;}
.code_wx{ width:132px; padding-top:21px; margin:0px 0px 0px 37px;}
.code_wx dt{ text-align:center;}
.code_wx dt img{ display:inline;}
.code_wx dd{ font-size:16px; font-family:"Microsoft YaHei"; text-align:center;}

/* qunar */
.qunar { width: 427px; position: relative; overflow: hidden; margin-top: 50px;   padding: 17px 0 0; }
/* 本例子css */
.slideBox{ width:427px; height:331px; overflow:hidden; position:relative;   }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:10;   margin-bottom: 4px;}
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background: url(/static/image/index/index_y_03.png) -15px 0px no-repeat; cursor:pointer;margin-left: -3px; }
.slideBox .hd ul li.on{ background: url(/static/image/index/index_y_03.png) 0px 0px no-repeat; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:427px; height:331px; display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%;z-index: :20; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(/static/image/index/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.slideBox li .bg_txt{width:407px;padding:0 10px;overflow:hidden;font-size:16px;height: 40px;line-height: 40px;position: absolute;background:url(/static/image/index/bg.png) repeat-x 0 0;bottom: 0;left: 0;}
.slideBox li .bg_txt a{color: #fff;}
.slideBox .bg{width:407px;padding:0 10px;overflow:hidden;background:url(/static/image/index/bg.png) repeat-x 0 0;height: 40px;position: absolute;bottom: 0;left: 0;}



/*发展历程style*/

.mid_top_left{position: absolute; width: 209px;height: 83px;absolute; top:-59px}
.mid_top_right{position: absolute;width:81px;height: 71px;absolute; right:0px;top: -41px;}
.bottom_kuang{height: 83px;width: 100%;}
.mid_bottom_left{width:89px;height: 63px;float: left;}
.mid_bottom_right{ width:101px;height: 63px;float: right;}
.fzlc_navbar {font-family:"微软雅黑";height:30px;line-height:30px;color: #595959;border-bottom: 1px solid #bbb;}
.fzlc_navbar span:first-child{font-size: 18.1px;;font-weight: bold;margin-left: 300px;}
.fzlc_navbar span:last-child{margin-right: 0px;font-size: 12px;margin-right: 0px;margin-left: 235px;}

.dataBar{padding-top:35px;margin: 0 auto;width: 100%;text-align: center;}
.pulldown li .button{background: url(/static/image/index/bar-1_11.png);color:#fff;width: 121px;height: 160px;margin: 4px auto;cursor: pointer;}
.pulldown li .ts{background: url(/static/image/index/fzlc_07.png);width: 121px;height: 121px;cursor: pointer;}
.pulldown li.on .button{background: url(/static/image/index/bar_03.png);color:#fff;width: 121px;height: 134px;margin: 4px auto;cursor: pointer;}
.pulldown li .buttonlist{display: none;background:url(/static/image/index/bar-3_03.png) repeat-y center top;width: 7px;margin: 0 auto;}
.pulldown li .dateBarInnerTop{width: 7px;height:7px;background: url(/static/image/index/bar-1_03.png) no-repeat center top;padding-top: 50px;}
.pulldown li .dateBarInnerBottom{width: 7px;height: 5px;background: url(/static/image/index/bar-2_03.png) no-repeat center bottom;padding-bottom: 10px;margin-left: 1px;}
.buttonlist li{width: 14px; height: 14px; margin-left: -3px; _margin-left: 0; background: url(/static/image/index/bar-1_07.png) no-repeat center 0;
  margin-bottom: 75px;
  position: relative;
}
.dateStoryM_r{position: absolute;left: 33px;top: -34px;width: 343px;height: 97px;background: url(/static/image/index/bar-4_07.png);
}
.dateStoryM_r_1{position: absolute;left: -366px;top: -32px;width: 343px;height: 92px;background:url(/static/image/index/bar_04-1_03.png);}
.dateStoryT_r{height: 92px;  width: 343px;}
.dateStoryImg{width: 343px;}
.dateStoryImg img{width: 122px;height: 66px;float: left;margin-top: 10px;margin-left: 15px;}
.dateStoryImg .leftimg{float: right;margin-right: 15px;}

.dateStoryT_r p{width: 180px;height: 24px;line-height: 20px;float: left;text-align: left;margin-left: 10px;}
.dateStoryT_r .leftp{text-align: right;}
.dateStoryT_r h4{font-size: 18px;color: #ffcb6b;padding-top: 7px;text-align:left;margin-left: 150px;}
.dateStoryT_r .h4left{padding-top: 8px;text-align: right;margin-left: 110px;}

.button span, .button em {width: 100%;line-height: 24px;display: block;font-size: 28px;text-align: center;}
.button em{font-size: 14px;font-style: normal;}
.button span{padding-top: 35PX;}
.shuxian{height:47px ;width: 100%;margin: 5px 0px 5px 0px;}
.bottom_kuang{width: 100%;height: ;}

/*title*/
.title{line-height: 24px;color: #ffb900;font-family: 宋体;padding: 7px 0 0 50px;}
.title strong{font-size: 14px;font-weight: bold;}
.title span{padding: 0 0 0 5px;}


.artilist dl{height: 115px;overflow: hidden;margin: 0 0 35px;}
.artilist dl dt{width: 190px; display:none;}
.artilist dl dd{/*width: 580px;*/color:#595959;}
.artilist dl dd a{color:#595959;}
.artilist dl dd p{line-height: 20px;font-size: 14px;text-indent: 24px;}



/*产品中心*/
.pro{background-image: none;}
.prom{padding: 0px;}
.pro_top{background: url(/static/image/index/pro_03.png) no-repeat 0 top;height: 86px; width:303px;margin-top: 35px;margin-left: 150px;}
.pro_bg{background: url(/static/image/index/pro_bg_01_03.png) no-repeat center top;width: 2391px;height:3123px;margin-left: -50px;margin-top-top: 55px;}
.pro_bg_1{background: url(/static/image/index/pro_bg_03.png) no-repeat 0 top;height: 2723px;width: 1657px;  margin-top: 165px;  margin-left: 372px;}
.pro_bg1_2{top: 333px;left: 730px; position: absolute;}
.pro_d{background: url(/static/image/index/pro_10.png) no-repeat 0 top;width: 38px;height: 38px;position: relative;}
.pro_d_01{background: url(/static/image/index/yuan_new.png) no-repeat 0 top;width: 69px;height: 69px;position: relative;}
.pro_d_1{margin-left: 41px;}
.pro_d_2{margin-left: 150px;margin-top: 140px;}
.pro_d_3{margin-left: 500px;margin-top: 115px;}
.pro_d_4{margin-left: 698px;margin-top: 253px;}
.pro_d_5{margin-left: 869px;margin-top: 40px;}
.pro_d_6{margin-left: 1112px;margin-top: 204px;}
.pro_d_7{margin-left: 1539px;margin-top: 203px;}
.pro_d_8{margin-left: 1309px;margin-top: 144px;}
.pro_d_9{margin-left: 1271px;margin-top: 105px;}
.pro_d_10{margin-left: 895px;margin-top: 66px;}
.pro_d_11{margin-left: 662px;margin-top: 223px;}
.pro_d_12{margin-left: 694px;margin-top: 101px;}
.pro_d_13{margin-left: 848px;margin-top: 223px;}
.pro_d_14{margin-left: 759px;margin-top: 395px;}

.pro_d1_1{margin-left: 43px;}
.pro_d1_2{margin-left: 153px;margin-top: 115px;}
.pro_d1_3{margin-left: 500px;margin-top: 95px;}
.pro_d1_4{margin-left: 702px;margin-top: 206px;}
.pro_d1_5{margin-left: 869px;margin-top: 21px;}
.pro_d1_6{margin-left: 1112px;margin-top: 165px;}
.pro_d1_7{margin-left: 1542px;margin-top: 180px;}
.pro_d1_8{margin-left: 1309px;margin-top: 98px;}
.pro_d1_9{margin-left: 1271px;margin-top: 70px;}
.pro_d1_10{margin-left: 895px;margin-top: 54px;}
.pro_d1_11{margin-left: 662px;margin-top: 185px;}
.pro_d1_12{margin-left: 694px;margin-top: 65px;}
.pro_d1_13{margin-left: 848px;margin-top: 205px;}
.pro_d1_14{margin-left: 759px;margin-top: 334px;}

.probg{ width:314px;height: 104px ; position: absolute;  }
.probg1{background: url(/static/image/index/pro-1_03.png) no-repeat 0 top;top: -32px;  left: 55px;}
.probg1_01{background: url(/static/image/index/juxing-right.png) no-repeat 0 top;top: -35px;  left: 60px;width: 345px;height: 130px;}
.probg1_02{background: url(/static/image/index/juxing_left.png) no-repeat 0 top;top: -35px;left: -334px; width: 345px;height: 130px;}
.probg2{background: url(/static/image/index/pro-1_07.png) no-repeat 0 top;  top: -32px;left: -327px;}
.proImg{width: 109px;height: 70px;float: left;  margin-top: 15px; }
.proImg1{margin-left: 28px;}
.proImg2{margin-left: 17px;}
.proImg1_01{  margin-left: 31px;  margin-top: 25px;}
.proImg2_02{margin-left: 25px;margin-top: 25px;}
.probg h4{  font-size: 20px;  color: #8d8d8d;  float: right;  margin-right: 68px; margin-top: 47px;}
.pro_piao{position: absolute;z-index: 10;opacity: 0}
.pro_piao_11{background: url(/static/image/index/pro_bg.png) no-repeat 0 top; width: 1635px;height: 754px; opacity: 0;}
.pro_piao_22{background: url(/static/image/index/pro_bg_22.png) no-repeat 0 top;width: 1600px;height: 652px;opacity: 0;}
.pro_piao_33{background: url(/static/image/index/pro_bg_33.png) no-repeat 0 top;width: 1464px;height: 1038px;opacity: 0;}

.pro_piao1_11{background: url(/static/image/index/liuxing1.png) no-repeat 0 top; width: 1316px;height: 912px; opacity: 0;position: absolute;z-index: 30;}
.pro_piao1_22{background: url(/static/image/index/liuxing2.png) no-repeat 0 top;width: 1975px;height: 1318px;opacity: 0;position: absolute;z-index: 30;}
.pro_piao1_33{background: url(/static/image/index/liuxing3.png) no-repeat 0 top;width: 1485px;height: 1051px;opacity: 0;position: absolute;z-index: 30;}
.pro_piao1_44{background: url(/static/image/index/liuxing2.png) no-repeat 0 top;width: 1975px;height: 1318px;opacity: 0;position: absolute;z-index: 30;}
.pro_piao1_55{background: url(/static/image/index/liuxing3.png) no-repeat 0 top;width: 1485px;height: 1051px;opacity: 0;position: absolute;z-index: 30;}

.bg_small1{background: url(/static/image/index/p_new_one_01_01.jpg) no-repeat 0 top; width: 3012px;height: 212px;}
.pro_title{width: 334px;height: 117px;  position: absolute; z-index: 40;left: 40px;  top: 75px;}
.bg_small2{background: url(/static/image/index/p_new_one_01_02.jpg) no-repeat 0 top; width: 3012px;height: 224px;}
.bg_small3{background: url(/static/image/index/p_new_one_01_03.jpg) no-repeat 0 top; width: 3012px;height: 216px;}
.bg_small4{background: url(/static/image/index/p_new_one_01_04.jpg) no-repeat 0 top; width: 3012px;height: 216px;}

/*.pro_bg_11{background: url(/static/image/index/p_new_02_01.png) no-repeat 0 top; width: 3012px;height: 868px; }*/
.pro_bg_22{background: url(/static/image/index/p_new_02_02.jpg) no-repeat 0 top;width: 3012px;height: 845px;}
.pro_bg_33{background: url(/static/image/index/p_new_02_03.jpg) no-repeat 0 top;width: 3012px;height: 854px;}
.pro_bg_44{background: url(/static/image/index/p_new_02_04.jpg) no-repeat 0 top;width: 3012px;height: 963px;}
.p_big_bg{position: absolute;z-index: 0px;}
/*版权信息*/

/*
*/



/*.bq_header .cut_prve,.bq_header .cut_next{width: 40px;padding: 20px 0 0;cursor: pointer;  position: absolute;}*/


.bq_title{background: url(/static/image/index/gswh.png) no-repeat center top;height: 55px;line-height: 55px;text-align: center;}
.bq_title h2{font-size: 18px;color: #ffa800;padding: 0 0 0 150px;}
#bq_title02{background: url(/static/image/index/ywfw.png) no-repeat center top;}
.gswh{  background:url(/static/image/index/img_1-1.png) repeat scroll 0 ; height: 420px; position: relative;}
.info_yuan{opacity: 0; background: url(/static/image/index/yuan_c_03.png) no-repeat center top;width: 282px;height: 282px; position: absolute;  top: 73px;
  left: 525px;}
.info_yuan_01{background: url(/static/image/index/big_y_03.png) no-repeat center top;width: 282px;height: 282px; position: absolute;  top: 73px;
  left: 525px;}
.qswhnew{width: 237px;height: 121px;position: absolute;padding: 30px 20px;overflow: hidden;}
.qswhnew h3{font-size: 18px;color: #ffa800;line-height: 50px;}
.qswhnew p{line-height: 18px;text-indent: 30px;width: 220px;}
.qswh01{opacity: 0; top:30px;left: 0;background: url(/static/image/index/bg_yuan_03.png) no-repeat center top;width: 382px;height: 166px;}
.qswh02{opacity: 0; top: 30px;right: 0; background: url(/static/image/index/bg_yuan_05.png) no-repeat center top;width: 382px;height: 166px;}
.qswh03{opacity: 0; top: 220px;left: 0; background: url(/static/image/index/bg_yuan_09.png) no-repeat center top;width: 382px;height: 166px;}
.qswh04{opacity: 0; top: 220px;right: 0; background: url(/static/image/index/bg_yuan_11.png) no-repeat center top;width: 382px;height: 166px;}

.qswh01 p{padding-left: 26px;  padding-top: 15px;}
.qswh02 p{  padding-left: 152px;  padding-top: 5px;}
.qswh03 p{padding-left: 31px; padding-top: 16px;}
.qswh04 p{padding-left: 170px; padding-top: 16px;}

.qswh01 h3{padding-left: 110px;}
.qswh02 h3{padding-left: 232px;}
.qswh03 h3{padding-left: 110px; padding-top: 16px;}
.qswh04 h3{padding-left: 232px; padding-top: 16px;}

.bq_ywfw{background: url(/static/image/index/img_1000-384.png) no-repeat 0 top;height: 384px;}
.bq_ywfw p{padding: 20px 30px 0;font-size: 14px;line-height: 24px; }


/*公司简介版块*/
.company_intro{ width:940px; height:126px; margin:0 auto 10px; padding:14px 20px 0px 20px;}
.company_intro h5{ width:110px; height:31px; line-height:31px; border-bottom:2px solid #0066cc; font-size:18px; font-weight:normal; color:#333333;}
.company_intro p{ font-size:14px; line-height:24px; text-indent:2em; margin-top:5px;}
